<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  
  <title>단말 리스트 페이지</title>
  
  <link href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css' rel='stylesheet'>
  
  <style>
    * {
      padding:0;
      margin:0;
      box-sizing:border-box;
    }
    
    html {
      width:100%;
      height:100%;
    }
    
    body {
      width:100%;
      height:100%;
      color: #000;
      background-color: #fff;
    }
        
    .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 20px;
      padding-right: 20px;
    }

    span {
      color: #333;
    }

    #board_title {
      font-size:1.2em;
      font-weight:bold;
      color:teal;
    }

  </style>
  
  <script src='http://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js'></script>
    
</head>
<body>
    
  <div class="container">
    <br>
    
    <div class="ui raised segment">
      <a class="ui blue ribbon label">단말관리</a>
      <span id="board_title"><%=title %></span>
      
      <div class="ui blue fluid card">
        <div class="content">
              
        <div class="ui grid">
          <div class="two wide column">번호</div>
          <div class="two wide column">전화번호</div>
          <div class="two wide column">OS버전</div>
          <div class="two wide column">모델</div>
          <div class="two wide column">디스플레이</div>
          <div class="two wide column">제조사</div>
          <div class="two wide column">MAC주소</div>
        </div>

          <div class="ui very relaxed selection celled list">
            <%  
              for (var i = 0; i < devices.length; i++) {
              var curMobile = devices[i]._doc.mobile;
              var curOsVersion = devices[i]._doc.osVersion;
              var curModel = devices[i]._doc.model;
              var curDisplay = devices[i]._doc.display;
              var curManufacturer = devices[i]._doc.manufacturer;
              var curMacAddress = devices[i]._doc.macAddress;
              var curNo = devices.length - i;
            %>
              <div class="item">
                <div class="ui grid">
                  <div class="two wide column"><%=curNo %></div>
                  <div class="fourteen wide column" onclick="javascript:window.location='/process/listdevice">
                    <div class="ui header">
                      <h4 class="ui left aligned header">
                        <%=curMobile %>
                      </h4>
                      <h5 class="ui right aligned orange header">
                        <%=curOsVersion %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <%=curModel %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <%=curDisplay %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <%=curManufacturer %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <%=curMacAddress %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>	
          
          </div>
          
          <br>
          <a class="ui button" href='/process/listdevice'>재요청</a>
        
        </div>
      </div>
      
    </div>
  </div>
    
</body>
</html>

